<ion-content>
  <div id="map_canvas"></div>
</ion-content>
<ion-tab-bar slot="top">
  <ion-tab-button (click)="currentTab=1" [ngClass]="{'tab-selected':currentTab==1}">
    <ion-label>Trip Details</ion-label>
  </ion-tab-button>
  <ion-tab-button (click)="currentTab=2;showOverview();" [ngClass]="{'tab-selected' : currentTab==2}">
    <ion-label>Schedule</ion-label>
  </ion-tab-button>
</ion-tab-bar>
<ion-content>
  <ion-list *ngIf="currentTab==1">
    <ion-item>
      <ion-label>
        <h2>
          {{vehicle?.name}}
        </h2>
        <h3>
          Rented for {{order?.duration}} hours
        </h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>
          {{order?.startTime | date: 'medium'}}
        </h2>
        <h3>
          at {{order?.destinationAddress.formattedAddress}}
        </h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="currentTab==2">
    <ion-list-header>
      Trip Overview
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h2>
          View overview of trip
        </h2>
        <h3>
          {{(trip?.locations.length) ? trip?.locations.length : '0'}} locations - {{order?.duration}} hours
        </h3>
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let l of trip.locations">

      <ion-label (click)="clickEvent(trip.locations.indexOf(l))">
        <h2>{{l?.name}}</h2>
        <h3>{{l?.destinationAddress.formattedAddress}}</h3>
        <p>{{l?.pickupTime | date: 'h:mm a'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>