<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="user-profile">
  <div class="profile-image-container gradient">
    <!-- <div class="profile-img" (click)="profilePhoto()" ng-style="{'background-image':'url('+user.profileImgUrl+')'}"
      style="background-size: cover; -webkit-background-size: cover; -moz-background-size: cover;">
      <i *ngIf="!user.profileImgUrl" class="ion-ios-camera-outline"></i>
    </div> -->
  </div>

  <div class="button-bar">
    <a class="button" [ngClass]="{'active': tab === 'general'}" (click)="selectTab('general')"
      ng-show="user.role !== 'driver'">General</a>
    <a class="button" [ngClass]="{'active': tab === 'billing'}" (click)="selectTab('billing')"
      ng-show="user.role !== 'driver'">Billing</a>
  </div>

  <div class="list" *ngIf="tab === 'general'">
    <div class="item item-divider">
      Account Info
    </div>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Your Name</span>
      <input type="text" placeholder="Your Name" [(ngModel)]="user.name">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Phone Number</span>
      <input type="text" ng-disabled="true" placeholder="Phone Number" [(ngModel)]="user.phone">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Email</span>
      <input type="text" ng-disabled="true" placeholder="Email" [(ngModel)]="user.email">
    </label>

    <div class="item item-divider">
      Security
    </div>
    <ion-toggle [(ngModel)]="touchIdVal.checked" ng-change="touchIdtouchId()">TouchID</ion-toggle>
    <!-- <div class="item item-divider">
          Notification Preferences
        </div>
        <ion-toggle [(ngModel)]="pushNotifications.checked"
                    ng-change="pushNotifications()">
          Push Notifications
        </ion-toggle>
        <ion-toggle [(ngModel)]="sms.checked"
                    ng-change="sms()">
          Text Message
        </ion-toggle> -->
  </div>

  <div class="list" *ngIf="tab === 'billing'">
    <div class="item item-divider">
      Payment Methods
    </div>
    <a class="item item-icon-left" ng-repeat="c in customer.sources.data" style="padding-left: 50px !important;">
      <img class="icon" *ngIf="c.brand === 'Visa'" src="img/creditcardlogos/visa.png"
        style="width: 32px; margin-top: 9px; height: auto; line-height: 36px;">
      <img class="icon" *ngIf="c.brand === 'MasterCard'" src="img/creditcardlogos/mastercard.png"
        style="width: 32px; margin-top: 9px; height: auto; line-height: 36px;">
      <img class="icon" *ngIf="c.brand === 'Discover'" src="img/creditcardlogos/discover.png"
        style="width: 32px; margin-top: 9px; height: auto; line-height: 36px;">
      <!-- {{c.brand}} -->
      {{c.last4}}
    </a>
    <!-- <a class="item item-icon-right" (click)="showModal()">
          Add New Card 
          <i class="icon ion-ios-plus-empty"></i>
        </a> -->

    <div class="item item-divider">
      Billing History
    </div>
    <a class="item item-icon-right" (click)="showChargesModal()">
      View History
      <i class="icon ion-ios-arrow-right"></i>
    </a>

  </div>
</div>
</ion-content>
